<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BarsManager_Barchart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <BarsManager_Barchart.Properties.Settings>
      <setting name="BarchartPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BarchartLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlConnectionsstring" serializeAs="String">
        <value>server=localhost;userid=salda;password=saldik;database=data</value>
      </setting>
      <setting name="BarchartServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value>7500</value>
      </setting>
    </BarsManager_Barchart.Properties.Settings>
  </userSettings>
</configuration>